@import 
url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
* {
    box-sizing: border-box;
}

body{
    background-image:url('images/flower.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    font-family:"Poppins", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items:  center;
    justify-content: center;
    
   
   
   
}

h1{
    font-weight: normal;
    font-size: 4 rem;
    margin-top: 5rem;

}

.countdown-container{

display: flex;
flex-wrap: wrap;
justify-content: center;


}


.big-text{
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0rem 2rem;


}

.countdown-ev{
    text-align: center;
}

.countdown-ev span{
   font-size:1.5r3m;
}

